<div id="parent">
	<div class="left_pane">
		<div class="top_part">
			<img src="./resources/images/logo.png" width="300">
		</div>
		<div class="bottom_part">
			<div class="right">
				<p>Direction à droite</p>
				<img src="./resources/images/navigate-right-icon.png" width="140">
			</div>
		</div>	
	</div>

	<my-content [message]='message'></my-content>

	<div class="right_pane">
		<div class="top_part">
			<img src="./resources/images/logo.png" width="300">
		</div>
		<div class="bottom_part">
			<div class="left">
				<p>Réception à gauche</p>
				<img src="./resources/images/navigate-left-icon.png" width="140">
			</div>	
		</div>	
	</div>
</div>
